body {
     background-image: url(unsplash. jpg):
     background-size: cover:
}

h1 {
    color: white:
    text-align: center:
    cursor: pointer
}

h2 {
        color: red:
        text-align: center;
        border: 5px solid black;
}
p {
    color: pink;
}
p {
    color
}

<img src="url"https://images.app.goo.gl/VCTaHpTrLAhzQKqv9" alt="Voorbeeldtekst als de afbeelding niet zichtbaar is"> 